.gui-exit-button {
    -fx-opacity: 150%;
    /*-fx-graphic: url("window_close_icon.png");*/
    -fx-background-image: url("../img/window_close_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-exit-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.gui-min-button {
    /*-fx-graphic: url("window_min_icon.png");*/
    -fx-background-image: url("../img/window_min_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-min-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.gui-fix-button {
    /*-fx-graphic: url("window_fix_icon.png");*/
    -fx-background-image: url("../img/window_fix_icon_ex.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-fix-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.gui-fix-button-on {
    -fx-background-image: url("../img/window_fix_icon_ex.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0.1);
}


.gui-wrap-button {
    /*-fx-graphic: url("window_fix_icon.png");*/
    -fx-background-image: url("../img/window_wrap_icon.png");
    -fx-background-size: 20px 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-wrap-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.gui-wrap-button-on {
    -fx-background-image: url("../img/window_wrap_icon.png");
    -fx-background-size: 20px 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* Settings */
.gui-settings-button {
    -fx-background-image: url("../img/window_settings_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-settings-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* Plus button */
.gui-plus-button {
    /*-fx-background-image: url("../img/window_plus_icon.png");*/
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-plus-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* Screen Cap button */
.gui-screen-cap-button {
    -fx-background-image: url("../img/window_screen_cap_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-screen-cap-button-on {
    -fx-background-image: url("../img/window_screen_cap_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.gui-screen-cap-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}


/* Download button */
.gui-download-button {
    -fx-background-image: url("../img/window_download_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-download-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* Copy button */
.gui-copy-button {
    -fx-background-image: url("../img/window_copy_icon.png");
    -fx-background-size: 16px 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.gui-copy-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}